*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    box-sizing: border-box;
    background-color: aquamarine;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;gap: 1rem;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 10%;
    border-radius: 15px;
    box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.08);
    background-color: antiquewhite;
}

.lists{
    background-color: rgb(142, 193, 131);
    width: 250px;
    min-height: 200px;
    height: max-content;
}

button{
    border: none;
    font-size: 20px;
    background-color: rgb(255, 201, 120);
    padding: 3px;
}